
.project-browser_back-button-and-path {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    margin-inline-start: calc(-1 * var(--browser-inline-margin));
    margin-inline-end: calc(-1 * var(--browser-inline-margin));

    font-size: var(--font-smallest);
    color: var(--text-faint);

    overflow-x: auto;

    // TODO: Make this an scss function
    // Hide scrollbar but keep functionality
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    .ddc_pb_icon {
        flex-shrink: 0;
        height: 1.3em;
        width: 1.3em;
        box-sizing: content-box;
        padding: 0.8em;
        &:hover {
            color: var(--link-color);
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        box-sizing: content-box;
        padding: 0.7em;
        
        &:hover {
            color: var(--link-color);
            text-decoration: underline;
        }
    }

    div {
        box-sizing: content-box;
        padding: 0.7em 0;
        
        &.ddc_pb_current-folder {
            padding: 0.7em;
            color: var(--text-normal);
            font-weight: var(--bold-weight);
        }
    }


}