

.ddc_pb_detailed-note-card {
    padding: 1em 1.2em;
    border-radius: 8px;
    overflow: hidden;
    // outline: 1px solid var(--color-base-30, rgba(255,255,255,0.5));

    cursor: pointer;

    h3 {
        padding: 0;
        margin: 0;
        font-size: calc(var(--font-text-size) * 1.2);
        font-weight: var(--font-extralight);
        overflow: hidden;
    }
    p {
        font-size: var(--font-small);
        font-weight: var(--font-extralight);
        opacity: 0.5;
        padding: 0;
        margin: 0.5em 0 0 0;

        // Truncate long text
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;

        // This breaks long strings anywhere (Without hyphening) if necessary
        overflow-wrap: anywhere;
    }

}

