

.ddc_pb_small-note-card-set {
    margin-bottom: 0em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
