

.ddc_pb_list-note-card-set {
    margin-bottom: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;

    column-gap: 1em;
    row-gap: 1em;
    > * {
        flex-basis: 15em;
        flex-grow: 1;
        flex-shrink: 1;
        // max-width: auto;
    }

}
