.project-browser_current-folder-menu {
    position: absolute;
    bottom: 100px;
    right: 100px;

    .project-browser_new-button {
        font-size: 50px;
        text-align: center;
        width: 2em;
        height: 2em;
        padding: 0.5em 0.6em;
    }

}