.project-browser_current-folder-menu {
    position: absolute;
    bottom: 100px;
    right: min(100px, 5vw);
    
    .project-browser_new-button {
        width: min(100px, 15vw);
        height: min(100px, 15vw);
        padding: 0.5em 0.6em;
        border-radius: 30%;
        box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    }

}