.ddc_pb_folder-button {
    // width: 20em;
    min-width: 6em;
    border-radius: 3em;

    padding: 1em 1em;
    font-size: var(--font-smallest);
    @media (min-width: 600px) {
        padding: 1.2em 1em;
        font-size: var(--font-small);
    }
    
    color: var(--text-normal);
    opacity: 0.5;
    background-color: var(--interactive-normal);

    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            opacity: 1;
            background: var(--interactive-normal);
        }
    }
    
}

.ddc_pb_hidden-hidden-folder {
    display: none;
}
.ddc_pb_visible-hidden-folder {
    outline: solid 3px var(--interactive-hover);
    outline-offset: -2px;
    outline-style: dashed;
    box-shadow: none !important;
    color: var(--text-muted);
    opacity: 0.3;
}