.project-browser_folder-button {
    // width: 20em;
    min-width: 6em;
    padding: 1em 1em;
    font-size: var(--font-smallest);
    border-radius: 3em;
    
    color: var(--text-normal);
    opacity: 0.5;
    background-color: var(--interactive-normal);

    cursor: pointer;

    &:hover {
        opacity: 1;
        background: var(--interactive-normal);
    }

    @media (min-width: 600px) {
        padding: 1.2em 1em;
        font-size: var(--font-small);
    }
}