.project-browser_state-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;  // So when it overflows during resize, it's on top of the note content
}