.ddc_pb_state-section .ddc_pb_small-note-card {
    background: var(--color-base-00);
}

.ddc_pb_stateless-section .ddc_pb_small-note-card {
    background: var(--color-base-10);
}

.ddc_pb_small-note-card {
    width: fit-content;
    // max-width: 20em;
    padding: 1em;
    border-radius: 8px;
    // outline: 1px solid var(--color-base-30, rgba(255,255,255,0.5));

    cursor: pointer;

    h3 {
        padding: 0;
        margin: 0;
        text-wrap: balance;

        font-size: var(--font-small);
        font-weight: var(--font-extralight);

        overflow: hidden;
    }

    outline: 0 solid var(--color-base-50, rgba(255,255,255,0.5));
    
    @media (hover: hover) and (pointer: fine) {
        &:active {
            background: var(--color-base-20);
            outline: 1px solid var(--color-base-50, rgba(255,255,255,0.5));
        }
        &:hover {
            // background: var(--color-base-10);
            outline: 1px solid var(--color-base-50, rgba(255,255,255,0.5));
        }
    }


    &.ddc_pb_closing {
        animation-name: closing-anim;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}


@keyframes closing-anim {
    from {
        outline: 5px solid var(--color-base-50, rgba(255,255,255,0.5));
        scale: 1.1;
        z-index: 100;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    }
}