.ddc_settings_section {
    margin-bottom: 2em;

    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0em;
        color: var(--text-muted);
        font-size: var(--font-ui-smaller);
        padding-top: var(--size-4-1);
        line-height: var(--line-height-tight);
    }
}

.ddc_settings_section details {
    overflow: hidden;
    border-style: solid;
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    margin: 1em 0;
    background-color: rgba(var(--callout-color), 0.05);
    padding: var(--callout-padding);

    --callout-color: 255,255,255;
    &.warning {
        --callout-color: var(--callout-warning);
    }

    summary {
        font-weight: 600;
    }
}

.ddc_settings_controls-section {
    padding: 0.2em 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--color-base-20);
}