.ddc_pb_section {
    position: relative;
    margin-bottom: 2em;
}
.ddc_pb_nav-and-filter-section {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.ddc_pb_folder-section {
    display: flex;
    column-gap: 1em;
    // align-items: flex-start;
    justify-content: stretch;
    margin-bottom: 0;
}
.ddc_pb_state-section {
    background-color: var(--color-base-10);
    border-radius: 16px;
    padding: 0.5em 0.5em;

    @media (min-width: 400px) {
        padding: 1em 1em;
        font-size: var(--font-small);
    }
}
.ddc_pb_dropzone-section {
    background-color: var(--color-base-10);
    border-radius: 16px;
    padding: 1em 1em 0;
}
.ddc_pb_section.ddc_pb_stateless-section {
    padding-top: 5em;
}

.ddc_pb_section-header {
    
    
    // &:first-child {
    //     padding-top: 3em;
    // }
    // border-bottom: 1px solid var(--color-base-40, rgba(255,255,255,0.5));
    

    h2 {
        margin: 0;
        margin-bottom: 0.5em;
        padding: 0;

        color: var(--text-accent);
        font-size: calc( var(--font-text-size) * 2 );
        font-weight: var(--font-extralight);
        letter-spacing: 0.05em;
    }
}

