.ddc_pb_section {    
    width: fit-content;
    min-width: 20em;
    margin-bottom: 3em;
}
.ddc_pb_folder-section {

}
.ddc_pb_section.ddc_pb_state-section {
    background-color: var(--color-base-10);
    border-radius: 16px;
    padding: 1em 1em;
}
.ddc_pb_section.ddc_pb_stateless-section {

}

.ddc_pb_section-header {
    
    
    // &:first-child {
    //     padding-top: 3em;
    // }
    // border-bottom: 1px solid var(--color-base-40, rgba(255,255,255,0.5));
    

    h2 {
        margin: 0;
        margin-bottom: 0.5em;
        padding: 0;

        color: var(--text-accent);
        font-size: calc( var(--font-text-size) * 2 );
        font-weight: var(--font-extralight);
        letter-spacing: 0.05em;
    }
}