.project-browser_browser {
    --browser-inline-margin: 0.5em;
    --browser-block-start-margin: 0em;
    @media (min-width: 400px) {
        --browser-inline-margin: 1em;
        --browser-block-start-margin: 0.3em;
    }
    @media (min-width: 600px) {
        --browser-inline-margin: 2em;
        --browser-block-start-margin: 0.5em;
    }

    padding: var(--browser-block-start-margin) var(--browser-inline-margin) 20em var(--browser-inline-margin);
    margin-top: 0;
    overflow-y: auto;

    animation-name: transition-on;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
}



@keyframes transition-on {
    from {
        opacity: 0;
    }
}