
.ddc_pb_list-note-card {
    padding: 1em;

    h3 {
        padding: 0;
        margin: 0;
        text-wrap: balance;
        font-size: var(--font-small);
        font-weight: var(--font-extralight);
        overflow: hidden;
    }

}

