.ddc_pb_fab-menu-action-button-stack {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    margin-right: 12px;

    &--pad-bottom {
        margin-bottom: 12px;
    }
}

.ddc_pb_fab-menu-action-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: min(40px, 8vw);
    max-width: 200px;
    padding: 0 8px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em;
    border: none;
    font-family: inherit;

    &--primary {
        color: var(--text-accent);
        background-color: var(--background-primary);
        border: 1px solid var(--interactive-accent);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

        &:hover {
            border-color: var(--interactive-accent-hover);
            color: var(--text-accent-hover);
        }
    }

    &--secondary {
        color: var(--text-normal);
        background-color: var(--color-base-00);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }

    &--compact {
        font-size: calc(0.85em * 2 / 3);
        min-height: calc(min(40px, 8vw) * 2 / 3);
    }

    &__label {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
