

.ddc_pb_state-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1px;   // So the outline on the buttons doesn't get clipped
}

.ddc_pb_visible-state-btns,
.ddc_pb_hidden-state-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2em;
}



@keyframes highlight-and-fade {
    from {
        color: var(--text-on-accent, rgba(255, 255, 255, 0.5));
        outline: 1px solid var(--text-accent, rgba(255, 255, 255, 0)) !important;
        background-color: var(--interactive-accent, rgba(255, 255, 255, 0.5));
    }
}


.ddc_pb_state-btn {
    font-size: 0.8em;
    border-left: 8px;
    margin: 0;
    padding: 0.1em 0.55em;
    box-shadow: none !important;

    cursor: pointer;
    
    &.ddc_pb_in-closed-menu {
        &.ddc_pb_has-return-transition {
            animation-duration: 1s;
            animation-name: highlight-and-fade;
        }

        color: var(--text-faint, rgba(255, 255, 255, 0.5));
        outline: 1px solid var(--color-base-30, rgba(255, 255, 255, 0.5));
        background-color: rgba(0, 0, 0, 0);
        
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--text-accent, rgba(255, 255, 255, 0.5));
                outline: 1px solid var(--text-accent, rgba(255, 255, 255, 0.5)) !important;
            }
        }
    }
    
    

    &.ddc_pb_visible-state {
        color: var(--text-muted, rgba(255, 255, 255, 0.5));;
        outline: 1px solid var(--color-base-30, rgba(255, 255, 255, 0.5));
        background-color: rgba(0, 0, 0, 0);
        
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--text-on-accent, rgba(255, 255, 255, 0.5));;
                background-color: var(--interactive-accent, rgba(255, 255, 255, 0.5)) !important;
                outline: none;
            }
        }
        
        &.is-set {
            color: var(--text-accent, rgba(255, 255, 255, 0.5));
            outline: 1px solid var(--text-accent, rgba(255, 255, 255, 0.5)) !important;
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--text-faint, rgba(255, 255, 255, 0.5));
                    outline: none !important;
                    background-color: var(--interactive-normal, rgba(255, 255, 255, 0.5)) !important;
                }
            }
        }
    }

    &.ddc_pb_hidden-state {
        color: var(--text-faint, rgba(255, 255, 255, 0.5));
        outline: 1px solid var(--color-base-30, rgba(255, 255, 255, 0.5));

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--text-normal, rgba(255, 255, 255, 0.5));;
                background-color: var(--interactive-normal, rgba(255, 255, 255, 0.5)) !important;
            }
        }
        
        &.is-set {
            color: var(--text-on-accent-inverted, rgba(255, 255, 255, 0.5));;
            background-color: var(--interactive-accent-hover, rgba(255, 255, 255, 0.5)) !important;
            outline: none;
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--text-faint, rgba(255, 255, 255, 0.5));;
                    background-color: var(--interactive-normal, rgba(255, 255, 255, 0.5)) !important;
                }
            }
        }
    }

}