.project-browser_visible-state-btns,
.project-browser_hidden-state-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
}



.project-browser_state-btn {
    background-color: unset !important;

    color: var(--color-base-40, rgba(255, 255, 255, 0.5));
    outline: 1px solid var(--color-base-30, rgba(255, 255, 255, 0.5));
    font-size: 0.8em;
    border-left: 8px;
    margin: 0;
    padding: 0.1em 0.55em;
    box-shadow: none !important;

    cursor: pointer;

    &:hover {
        color: var(--color-base-100, rgba(255, 255, 255, 0.5));
        outline-color: var(--color-base-50, rgba(255, 255, 255, 0.5));
    }
    
    &.is-set {
        color: var(--color-base-70, rgba(255, 255, 255, 0.5));;
        background-color: var(--color-base-20, rgba(255, 255, 255, 0.5)) !important;
        &:hover {
            color: var(--color-base-50, rgba(255, 255, 255, 0.5));
            outline: none;
        }
    }
}